<!DOCTYPE html>
<html>
<head>
    <title>My Notes</title>
</head>
<body>
    <h2>My Notes</h2>
    <a href="{% url 'create_note' %}">+ Create New Note</a> | 
    <a href="{% url 'login' %}">Logout</a>
    <hr>

    {% if notes %}
        <ul>
            {% for note in notes %}
                <li>
                    <strong>{{ note.title }}</strong> - {{ note.content }}
                    <br>
                    <a href="{% url 'edit_note' note.id %}">✏️ Edit</a> |
                        <a href="{% url 'share_note' note.id %}">Share</a>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No notes yet.</p>
    {% endif %}
</body>
</html>
